.modal-container {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
	width: 85%;
	max-height: 90%;
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	border-radius: 30px;
}

.exit {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #000;
	transition: color 0.3s;
}

.exit:hover {
	cursor: pointer;
	color: #f24646;
}

.modal-slideshow-container {
	width: 29%;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.modal-img {
	width: 100%;
	border: 1px solid #888;
}

.modal-text {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0 10px;
	box-sizing: border-box;
	line-height: 0.8;
}

.modal-name {
	font-family: Lato;
	font-size: 32px;
	line-height: 1.2;
	margin: 0.5em 0;
	width: 85%;
}

.model-num {
	font-family: Lato;
	font-size: 13px;
	margin: 0.2em 0;
	letter-spacing: 1px;
	color: #555;
	line-height: 1.2;
}

.modal-color-container {
	margin: 10px 0;
}

.modal-color-label {
	display: inline-block;
	font-size: 17px;
	font-family: Lato;
	vertical-align: middle;
	margin: 0.5em 10px 0.5em 0;
}

.modal-color {
	height: 15px;
	width: 15px;
	margin: 2px;
	display: inline-block;
	vertical-align: middle;
	transition: border 0.3s, height 0.3s, width 0.3s;
}

.modal-color:hover {
	cursor: pointer;
}

.active-color {
	border: 2px solid #f2a411;
	height: 20px;
	width: 20px;
}

.modal-mat-container {
	margin: 10px 0;
}

.modal-mat-label {
	display: inline-block;
	font-size: 17px;
	font-family: Lato;
	vertical-align: middle;
	margin: 0.5em 10px 0.5em 0;
}

.mat-block {
	display: inline-block;
	vertical-align: middle;
	padding: 7px 12px;
	margin: 0 5px;
	border: 2px solid #5396AB;
	color: #5396AB;
	font-family: Lato;
	font-size: 15px;
	border-radius: 2px;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}

.mat-block:hover {
	background-color: #5396AB;
	color: #FFF;
}

.active-mat {
	background-color: #5396AB!important;
	color: #FFF!important;
}

.modal-price {
	font-size: 28px;
	font-weight: bold;
}

.quantity {
	font-size: 18px;
}

.modal-cat {
	font-size: 17px;
}

.modal-text p {
	line-height: 1;
	font-family: Lato;
}

.fav-btn-false {
	background-color: #fff;
	color: #f2a411;
	font-weight: bold;
	border: 2px solid #f2a411;
	border-radius: 5px;
	padding: 8px 12px;
	font-size: 15px;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
	outline: none;
}

.fav-btn-false:hover {
	color: #fff;
	background-color: #f2a411;
}

.fav-btn-true {
	background-color: #f2a411;
	color: #Fff;
	font-weight: bold;
	border: 2px solid #f2a411;
	border-radius: 5px;
	padding: 8px 12px;
	font-size: 15px;
	cursor: pointer;
	outline: none;
}